[tcpout]
defaultGroup = default-autolb-group

[tcpout:default-autolb-group]
server = {{ splunk_uf.indexer.address}}:{{ splunk_uf.indexer.port}}

[tcpout-server://{{ splunk_uf.indexer.address}}:{{ splunk_uf.indexer.port}}]
